/* CSS RESET* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL VARIABLES */
:root {
  --shadow: hsla(171, 27%, 15%, 1);
  --midtone: hsla(180, 11%, 52%, 1);
  --highlight: hsla(53, 14%, 65%, 1);
  --accent: hsla(189, 40%, 80%, 1);
  --light-text-color: hsla(53, 14%, 65%, 1);
  --dark-text-color: hsla(0, 0%, 10%, 1);
  --body-font: "Montserrat", sans-serif;
  --link-font: "Raleway", sans-serif;
  --body-font: 18px;
}

/* GLOBAL STYLES */
body {
  font-size: var(--body-font);
  font-family: var(--body-font);
  background: var(--shadow);
}
a {
  text-decoration: none;
  font-family: var(--link-font);
  color: var(--shadow);
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* NAVBAR */
#navbar {
  position: fixed;
  width: 100%;
  top: 0%;
}

.navlink-spacing-custom {
  /* Adds spacing between navbar links */
  margin: 0 1rem 0 0; /*top-right-bottom-left*/
}

#navbar a.navlink-spacing-custom:hover{
  color: hsla(189, 40%, 80%, 1);
}

/* WELCOME SECTION */
#welcome-section {
  background: lightslategray;
  height: 100vh;
  margin-top: 10%;
}

.header-md-text {
  background: var(--shadow);
  color: var(--accent);
}

/* PROJECTS SECTION */
#projects {
  background: lightgray;
  overflow: hidden;
  padding: 0.5rem;
}

.project-tile {
  margin: 0 0 4rem 0; /* top right bottom left */
}

.project-description {
  padding: 0;
  margin: 1rem auto; /* top/bottom - left/right*/
  font-size: 1.5rem;
}

.project-link {
  font-size: 1.5rem;
}

.project-link:hover {
  color: hsla(280, 100%, 40%, 1);
}

/* FOOTER (Inherits background color from body element) */
#footer {
  color: var(--accent);
  font-size: 1.2rem;
  font-family: var(--body-font);
}

/* MEDIA QUERY */
@media (min-width: 576px) {
  .header-md-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
